@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    
   
}
.container{
    width: 100%;
    height: auto;
   
   
}
.navbar1{
    width: 100%;
    padding-block: 15px;
    padding-inline: 50px;
    height: auto;
    background-color: #F3F3F3;
}
.nav-links ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap:20px;
}
.nav-links ul li{
    font-size: 14px;
    opacity: 0.9;
}
/* -------------------------navbar end----------------- */
.navbar2{
    width: 100%;
    padding-block: 15px;
    height: auto;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
}
.input-field{
    width: 35%;
    height: auto;
    background-color: #E6E6E6;
    display: flex;
    border-radius: 8px;
    padding-inline: 10px;
   justify-content: space-between;
   padding-block: 13px;
   
}
.input-field input{
   
    border: none;
    background:none;
}
.logo{
    width: 15%;
    height: auto;
    display: flex;
    justify-content: center;
}
.logo img{
    width: 120px;
}
.nav-links2{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;

}
.nav-links2 ul{
    list-style: none;
    display: flex;
    gap: 30px;
}
.nav-links2 ul li{
    font-size: 17px;
    font-weight: 600;
}
.login{
    width: 10%;
    height: auto;
    display: flex;
    justify-content: center;
}
.login i{
    font-size: 25px;
}
/* ----------------------------navbar2--------------- */
.navbar3{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}
.logo3{
    width: 50%;
    height: auto;
    padding-inline: 50px;
}
.logo3 img{
    width: 100px;
}
.icon-section{
    width: 50%;
    height: auto;
    padding-inline: 50px;
    display: flex;
    justify-content: flex-end;
}
.icon-section i{
    font-size: 20px;
    color: gray;
}


/* ---------------------navbar3--------------------- */
.hero-section{
    width: 100%;
    height: auto;

}
.heading{
    width: 100%;
    height: auto;
    padding-inline: 30px;
    padding-block: 40px;
    background-color: #FFFFFF;
}
.gas-section{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;

}
.natural-para{
    width: 30%;
    height: auto;
    padding-inline: 30px;

}
.line{
  width: 26%px;
  opacity: 0.3;
  height: 1px;
  background-color: grey;
}
.natural-para button{
    background-color: #E6E6E6;
    border-radius: 10px;
    padding-block: 3px;
    padding-inline: 10px;
    border: none;
    margin-block: 10px;
}
.img-section{
    width: 40%;
    height: auto;
  
}
.img-section img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
.event-section{
    width: 22%;
    height: auto;
    background-color: #F3F3F3;
}
.event1{
   
    padding-block: 10px;
    padding-inline: 10px;
    
}
.events{
    display: flex;
    padding-block: 10px;
    padding-inline: 15px;
    justify-content: space-between;
}

.event1 P{
    font-size: 12px;
}
.line2{
   width: 95%;
   height: 1px;
  padding-inline: 10px;
  opacity: 0.2;
   background-color: grey;
}
.event2{
    padding-block: 5px;
    padding-inline: 15px;
}
.date{
    color:grey;
    font-weight: 700;
}
.event2 p{
    padding-block: 2px;
    font-size: 16px;
    font-weight: 700;
}
.event3{
    padding-inline: 15px;
}
.event3 p{
    padding-block: 3px;
    font-size: 16px;
    font-weight: 700;
}
.event4{
    padding-inline: 15px;
    padding-bottom: 90px;
}
.event4 p{
    padding-block: 3px;
    font-size: 16px;
    font-weight: 700;
}
/* ---------------------------hero section end--------------------- */
.global-section{
    width: 100%;
    height: auto;
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
}
.global{
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
   justify-content: center;
    gap: 20px;
}
.global1{
    width: 25%;
    height: auto;
    padding-block: 30px;
    padding-inline: 10px;
    
}
.global1 button{
    background-color:#F3F3F3;
    border: none;
    border-radius: 7px;
    padding-block: 1px;
    padding-inline: 10px;
}
.global1 h3{
    padding-block: 4px;
}
.global1 img{
    width: 100%;
}
.global2{
    width: 20%;
    height: auto;
    padding-block: 30px;
    padding-inline: 10px;
   
}
.global2 button{
    background-color:#F3F3F3;
    border: none;
    border-radius: 7px;
    padding-block: 1px;
    padding-inline: 10px;
}
.global2 h3{
    padding-block: 4px;
}
.global2 img{
    width: 100%;
    padding-block: 30px;
    height: 70%;
}
.global3{
    width: 20%;
    height: auto;
    padding-block: 30px;
    padding-inline: 10px;

}
.global3 button{
    background-color:#F3F3F3;
    border: none;
    border-radius: 7px;
    padding-block: 1px;
    padding-inline: 10px;
}
.global3 h3{
    padding-block: 4px;
}
.global3 img{
    padding-block: 30px;
    width: 100%;
    height: 70%;
   
}
.global4{
    width: 25%;
    height: auto;
    padding-block: 30px;
    padding-inline: 10px;
   
}
.global4 button{
    background-color:#F3F3F3;
    border: none;
    border-radius: 7px;
    padding-block: 1px;
    padding-inline: 10px;
}
.global4 h3{
    padding-block: 4px;
}
.global4 img{
    width: 100%;
}
/* ------------------global section-------------------------------- */
.anniversary-section{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.anniversery{
    width: 100%;
    height: auto;
    display: flex;
    background-color: #F2F6FF;
}
.anniversary-para{
    width: 50%;
    height: auto;
    padding-block: 50px;
    padding-inline: 30px;
}
.anniversary-para h1{
    font-size: 45px;
    color: #0044FF;
}
.anniversary-para p{
    padding-block: 20px;
    color: #7B7D82;
}
.anniversary-para button{
    font-size: 15px;
    padding-inline: 10px;
    border-radius: 20px;
    border: 1px solid #7B7D82;
    background: none;
    padding-block: 8px;
    font-weight: 600;
}
.anniversary-img{
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 30px;
}
.anniversary-mid{
    width: 80%;
    padding-block: 20px;
    padding-inline: 30px;
    height: auto;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.anniversary-img img{
    width: 80%;
}



/* ---------------anniversery section--------------------------------- */
.data-section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.data-heading{
    width: 100%;
    height: auto;
    padding-inline: 20px;
    padding-block: 60px;
    background-color: white;
}
.data-card{
    width: 90%;
    height: auto;
    display: flex;
    display: flex;
    padding-bottom: 80px;
    justify-content: space-around;
}
.card1{
   padding-block: 20px;
   padding-inline: 10px;
   width: 20%;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-start;
   border-radius: 15px;
   background-color: #F2F6FF;
}
.card1 h2{
    padding-block: 15px;
}
.card1 button{
    margin-block: 20px;
    background-color: white;
    border: none;
    padding-block: 10px;
    border-radius: 20px;
    border: 1px solid grey;
    padding-inline: 25px;
}
.card2{
    padding-block: 20px;
    padding-inline: 10px;
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 15px;
    background-color: #F2F6FF;
 }
 .card2 h2{
    padding-block: 10px;
}
.card2 button{
    margin-block: 20px;
    background-color: white;
    border: none;
    padding-block: 10px;
    border-radius: 20px;
    border: 1px solid grey;
    padding-inline: 25px;
}
 .card3{
    padding-block: 20px;
    padding-inline: 10px;
    width: 20%;
    height: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #F2F6FF;
 }
 .card3 h2{
    padding-block: 15px;
}
.card3 button{
    margin-block: 20px;
    background-color: white;
    border: none;
    padding-block: 10px;
    border-radius: 20px;
    border: 1px solid grey;
    padding-inline: 25px;
}
 .card4{
    padding-block: 20px;
    padding-inline: 10px;
    width: 20%;
    height: auto;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #F2F6FF;
 }
 .card4 h2{
    padding-block: 15px;
}
.card4 button{
    margin-block: 20px;
    background-color: white;
    border: none;
    padding-block: 10px;
    border-radius: 20px;
    border: 1px solid grey;
    padding-inline: 25px;
}
/* ------------------data section------------------------------------- */
.energy-section{
    width: 100%;
    height: auto;
    background-color: #000000;
    display: flex;
    padding-block: 50px;
    padding-inline: 30px;
    justify-content: space-evenly;
    color: white;
    
}
.energy1{
    width: 45%;
    height: 450px;
    padding-block: 30px;
    padding-inline: 30px;
    background-image: url("./images/energy.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    opacity: 0.9;
    z-index: 1;
    background-color: #000;
    
}
.energy1 p{
    padding-block: 10px;
    font-size: 16px;
}
.share-btn{
    color: #465665;
    border: none;
    padding-inline: 25px;
    padding-block: 10px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    transform: translate(380px, 90px); 
    
}



.energy-btn{
   background-color: white;
   border: none;
   padding-block: 12px;
   border-radius: 20px;
   padding-inline: 25px;
   display: flex;
   align-items: center;
   font-size: 15px;
   font-weight: 600;
}
.energy-btn i{
    font-size: 20px;
}

.energy2{
    width: 45%;
    height: 450px;
    padding-block: 30px;
    border-radius: 10px;
    padding-inline: 30px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url("./images/energy2.jpg");
    background-position: center;
    opacity: 1;
    z-index: 0;
    /* background-color: #a31a1a; */
    background-size: cover;
}
.energy2 p{
    padding-block: 10px;
    font-size: 16px;
}
.share-btn2{
    color: #465665;
    border: none;
    padding-inline: 25px;
    padding-block: 10px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    transform: translate(380px, 130px); 
   
}


/* --------------------energy section----------------------------------- */
.energy-mid{
    width: 100%;
    height: auto;
    background-color: #dfdcdc;
    display: flex;
    padding-block: 30px;
    padding-inline: 20px;
}
.energy-mix{
    width: 50%;
    height: auto;

}
.energy-mix h3{
    padding-block: 5px;
}
.energy-input{
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subscribe{
    width: 90%;
  background-color: white;
  display: flex;
  padding-block: 10px;
  padding-inline: 20px;
  border-radius: 30px;
  justify-content: space-between;
}
.energy-input input{
    border: none;
    background: none;
    font-size: 16px;
}
.subscribe button{
   background-color: #002999;
   color: white;
   border: none;
   padding-block: 14px;
   padding-inline: 15px;
   border-radius: 20px;
   font-size: 17px;
   font-weight: 500;
}



/* ------------------------energy mid--------------------------------------- */
.trending-section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.trending-heading{
    width:100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding-block: 60px;
    padding-inline: 15px;
}
.trending-heading h2{
    font-size: 30px;
}
.trending-heading button{
    background: none;
    padding-block: 10px;
    padding-inline: 18px;
    border-radius: 25px;
    font-size: 15px;
    border: 1px solid grey;
    font-weight: 600;
}
.trend-card{
    width: 100%;
    height: auto;
    color: white;
    display: flex;
    padding-block: 40px;
    justify-content: space-around;
}
.card11{
    width: 20%;
    height: 230px;
    padding-block: 20px;
    padding-inline: 10px;
    border-radius: 15px;
   background-image: url("./images/trend-card.jpg");
   background-position: center;
   background-size: cover;
}
.card11:nth-child(2){
    background-image: url("./images/trend-card2.jpg");
    background-position: center;
    background-size: cover;
}
.card11:nth-child(2) h2{
    font-weight: 800;
}
.card11:nth-child(3){
    background-image: url("./images/trend-card3.jpg");
    background-position: center;
    background-size: cover;
}
.card11:nth-child(3) h2{
    font-weight: 800;
}

.card11:nth-child(4){
    
    background-image: url("./images/trend-card4.jpg");
    background-position: center;
    background-size: cover;
}
.card11:nth-child(4) h2{
    font-weight: 800;
}
/* -------------------------trend card 2-------------- */
.trend-card2{
    width: 100%;
    height: auto;
    color: white;
    display: flex;
    padding-block: 40px;
    justify-content: space-around;
    padding-bottom: 30px;
}
.card22{
    width: 20%;
    height: 230px;
    border-radius: 15px;
    padding-block: 20px;
    padding-inline: 10px;
   background-image: url("./images/hydrogen_tall.jpg");
   background-position: center;
   background-size: cover;
   transition: opacity .8s .3s ease;
    z-index: 0;
   background-color: #000;
}
.card22 h2{
    z-index: 1;
}
.card22:nth-child(2){
    background-image: url("./images/trend-card5.jpg");
    object-fit: cover;
    object-position: center center;
    opacity: 0.9;
    transition: opacity .8s .3s ease;
    z-index: 0;
    background-color: #000;
}
.card22:nth-child(2) h2{
    z-index: 1;
}
.card22:nth-child(3){
    background-image: url("./images/trend-card7.jpg");
    object-fit: cover;
    object-position: center center;
    transition: opacity .8s .3s ease;
    z-index: 0;
    background-color: #000;
}
.card22:nth-child(3) h2{
    z-index: 1;
}
.card22:nth-child(4){
    background-image: url("./images/trend-card8.jpg");
    object-fit: cover;
   object-position: center center;
   opacity: 0.9;
  
   background-color: #000;
}

.shaping{
    width: 100%;
    color: white;
    height: auto;
    margin-block: 50px;
    padding-inline: 30px;
    padding-block: 100px;
    background-image: url(./images/shaping1.jpg);
    background-position: center;
    background-size: cover;
}
.shaping h1{
   font-size: 45px;
   padding-block: 15px;
}
.shaping button{
    background-color: black;
    color: white;
    margin-block: 10px;
    font-size: 14px;
    font-weight: 600;
    padding-block: 9px;
    border: none;
    border: 2px solid white;
    border-radius: 20px;
    padding-inline: 40px;
}
/* --------------------------trending section------------------------------ */
.analysis-section{
    width: 100%;
    height: auto;

   
}
.analysis-heading{
    width: 100%;
    height: auto;
    padding-block: 30px;
    padding-inline: 30px;
}
.analysis-heading h1{
    font-size: 36px;
}
.analysis-card{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    padding-block: 60px;

}
.analysis-card33{
    width: 30%;
    padding-block: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-inline: 20px;
    background-color:#F3F3F3;
    height: 252px;
}
.analysis-card33 h2{
    font-size: 28px;
    color: #6F6F6F;
}
.analysis-card33 button{
    width: 50%;
    font-size: 15px;
    font-weight: 600;
    padding-block: 8px;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    border: 1px solid grey;
}
.ana-button{
    width: 80%;
    font-size: 15px;
    font-weight: 600;
    padding-block: 8px;
    border-radius: 20px;
    display: flex;
    padding-inline: 30px;
    align-items: center;
    border: 1px solid grey;
}
/* --------------------------analysis section-------------------------------- */
.footer-section{
    width: 100%;
    height: auto;
 
}
.footer1{
    width: 100%;
    height: auto;
    display: flex;
    background-color:#F3F3F3;
    z-index: 1;
    display: flex;
    padding-block: 60px;
    padding-inline: 20px;
}
.footer-heading{
    width: 50%;
    height: auto;
   
}
.footer-heading p{
    padding-block: 10px;
    font-size: 20px;
    color: #1f1818;
}
.footer-sample{
    width: 50%;
    height: auto;
   
}
.footer-input{
   width:90%;
   display: flex;
   justify-content: space-between;
   padding-inline: 10px;
   background-color: white;
   padding-block: 13px;
   border-radius: 28px;
}
.footer-input input{
    border: none;
    background: none;
    font-size: 14px;
}
.footer-input button{
   background-color: #0044FF;
   border: none;
   padding-inline: 20px;
   padding-block: 15px;
   color: white;
   font-size: 15px;
   border-radius: 29px;
}
.footer-line{
    width: 100%;
    background-color: gray;
    opacity: 0.4;
    height: 1px;
}

.footer2{
    width: 100%;
    height: auto;
    background-color: #F3F3F3;
    display: flex;
    padding-block: 30px;
    justify-content: space-around;
    align-items: center;
}
.footer11{
    width: 25%;
  

}
.footer11 h2{
    color: #292424;
    font-size: 26px;
    padding-block: 5px;
    font-weight: 600;
}
.footer22{
    width: 25%;
    
}
.footer22 ul{
    list-style: none;
}
.footer22 ul li{
    padding-block: 4px;
    font-size: 14px;
}
.footer33{
    width: 25%;
   
}
.footer33 ul{
    list-style: none;
}
.footer33 ul li{
    padding-block: 4px;
    font-size: 14px;
}

.footer44 h4{
    transform: rotate(90deg);
}
.footer3{
    width: 100%;
    height: auto;
    background-color: #F3F3F3;
    display: flex;
    padding-block: 20px;
    padding-inline: 20px;
}
.footer31{
    width: 50%;
    height: auto;
   
}
.footer32{
    width: 50%;
    height: auto;
  
}
.footer32 h5{
    padding-block: 5px;
}
.footer-icon{
    display: flex;
   gap: 12px;
}
.footer4{
    width: 100%;
    height: auto;
    background-color: #F3F3F3;
    padding-block: 30px;
}
.footer41{
    width: 50%;
    height: auto;
    display: flex;
    gap: 20px;
    padding-inline: 20px;
}
.footer41 p{
  font-size: 14px;
}
/* ------------------hidden code-------------------- */
.navbar3{
    display: none;
}

/* ----------------------footer section---------------------------------------- */

/* ---------------------responsive code ---------*/
@media (max-width: 1200px){
     .container{
        width: 100%;
        height: auto;
       
     }
     .navbar1{
        width: 100%;
        height: auto;
     }
    .navbar2{
        display: none;
    }
    .navbar3{
        width: 100%;
        padding-block: 30px;
        display: flex;
    }
    .hero-section{
        width: 100%;
        height: auto;
    }
    .gas-section{
        width: 100%;
        height: auto;
    }
    .natural-para{
        width: 50%;
    }
    .img-section{
        width: 50%;
    }
    .event-section{
        display: none;
    }
    .global-section{
        width: 100%;
        height: auto;
    }
    .global{
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    .global button{
        padding-block: 20px;
    }
    .global h3 br{
      display: none;
    }
    .global1{
        width: 100%;
        height: auto;
    }
    .global2{
        width: 100%;
        height: auto;
    }
    .global3{
        width: 100%;
        height: auto;
    }
    .global4{
        width: 100%;
        height: auto;
    }
    .anniversary-section{
        width: 100%;
        height: auto;
    }
    .anniversery{
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    .anniversary-para{
        width: 100%;
    }
    .anniversary-img{
        width: 100%;
    }
    .data-section{
        width: 100%;
        height: auto;
    }
    .data-card{
        width: 100%;
        height: auto;
        flex-direction: column;
        gap: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card1{
        width: 50%;
        height: 300px;
    }
    .card2{
        width: 50%;
        height: 300px;
    }
    .card3{
        width: 50%;
        height: 300px;
    }
    .card4{
        width: 50%;
        height: 300px;
    }
    .energy-section{
        width: 100%;
        height: auto;
        flex-direction: column;
        gap: 30px;
    }
    .energy1{
        width: 80%;
    }
    .energy2{
        width: 80%;
    }
    .energy-mid{
        display: none;
    }
    .trending-section{
        width: 100%;
        height: auto;
    }
    .trend-card{
        width: 100%;
        height: auto;
        flex-direction: column;
        gap: 20px;
        display: flex;
        align-items: center;
    }
    .card11{
        width: 50%;
    }
    .trend-card2{
        width: 100%;
        height: auto;
        flex-direction: column;
        gap: 20px;
        display: flex;
        align-items: center;
    }
    .card22{
        width: 50%;
    }
    .analysis-section{
        width: 100%;
        height: auto;
    }
    .analysis-card{
        width: 100%;
        height: auto;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
    .analysis-card33{
        width: 50%;
    }
    .footer{
        width: 100%;
        height: auto;
       
    }
    .footer1{
        width: 100%;
        height: auto;
        
        flex-direction: column;
    }
    .footer-heading{
        width: 100%;
        height: auto;
       
        padding-block: 10px;
    }
    .footer-sample{
        width: 100%;
        height: auto;
        padding-block: 30px;
    }
    .footer2{
        width: 100%;
        height: auto;
       
    }
    .footer11{
        display: none;
    }
    .footer44{
        display: none;
    }
    .footer3{
        width: 100%;
        height: auto;
    }
    .footer31{
        display: none;
    }
    .footer32{
        width: 100%;
        height: auto;
        padding-inline: 30px;
        
    }
}